// Colors
$dark-grey: rgb(28,27,30);
$dark-white: darken(white , 15%);
$light-grey: darken(rgb(99,99,102), 10%);
$grey: rgb(44, 44, 46);
$cool-red: rgb(182, 59, 59);
$cool-blue: #0085D1;
$cooler-blue: rgb(68, 117, 177);

// Font Size
$s-size: 1.2rem;
$m-size: 1.6rem;

// Spacing