.button {
    border: none;
    display: inline-block;
    font-weight: 300;
    line-height: 1;
    padding: 0.8rem;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.button__log-out {
    background: rgb(182, 59, 59);
}

.button__primary {
    background: rgb(142, 142, 147);
}