.content {
    display:flex;
    background: $grey;
    max-height: 10rem;
    padding: 10px;
}

.content__input {
    max-height: 8rem;
    height: 2rem;
    width: 100%;
    overflow: scroll;
    display: block;
    color: $dark-white;
    outline: none;
    border: none;
    border-radius: 5px;
    background: $light-grey;
    resize: none;
    overflow-y: hidden;
}