.content {
    display:flex;
    background: $grey;
    max-height: 10rem;
    padding: 10px;
    position: relative;
}

.content__input {
    display: block;
    max-height: 8rem;
    margin-right: 25px;
    height: 2rem;
    width: 100%;
    overflow-y: auto;
    display: block;
    color: $dark-white;
    outline: none;
    border: none;
    border-radius: 5px;
    background: $light-grey;
    resize: none;
}

#emoji-container {
    right: 1.3rem;
    bottom: 1rem;
    height: 2rem;
    position: absolute;
    cursor: pointer;
    text-align: center;

    > i {
        display: inline-block;
    }

    > i:hover {
        color: #0085D1;
        transition: color 0.1s ease-in;
    }
}

.error {
    border: 1px solid $cool-red;
}

.pickerContainer {
    animation: fadeIn 0.5s ease-in-out;
    transform-origin: 100% 100% 0;
}

@keyframes fadeIn {
    from {
    //     // transform-origin: bottom right;
        transform: scale(0);
    }

    to {
    //     // transform-origin: top;
        transform: scale(1);
    }
    
}