.messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 14rem);
    max-height: calc(100vh - 14rem);
    // background: $dark-grey;
    // position: relative
}

.messages-container__inner {
    width: 100%;
    height: 100%;
    // filter: blur(3px);
    // padding: 0 1.5rem;
    position: relative;
}

.messages-container__message {
    overflow-y: auto;
    height: calc(100% - 20px);
}

.messages-typing__container {
  & > * {
      font-size: 1rem;
  }
}

.messages-typing {
    // height: 30px;
    padding: 0 1.5rem;
    position: sticky;
    bottom: 0;
}

.blur {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: $dark-grey;
    z-index: 200;
    opacity: 0.8;
}

.popup {
    display: none;
    position: absolute;
    top: -40px;
    z-index: 300;
    border: 1px solid white;
    color: $grey;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
}

.message__reaction-container {
    display: flex;
    justify-content: space-around;
}
.message__reaction-container > span{
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

.message__reaction-container > span:hover{
    color: lighten($color: $grey, $amount: 10%);
}

.popup.mine {
    right: 0;
    background: $dark-white;
}

.popup.other{
    left: 0;
    background: $dark-white;
}

.show-popup {
    display: block;
    filter: brightness(1.5);
}

.blurred {
    display: block;
}

.no-blurred {
    position: relative;
    z-index: 300;
    filter: brightness(1.5);
}

.no-blurred::after{
    filter: brightness(0.65);
}