.message-container {
    display: flex;
    flex-direction: column;
    // padding: 1rem $m-size;
    padding: 0 $m-size;
    // position: relative;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin: 5px 0;
    max-width: 50%;
    word-wrap: break-word;
    position: relative;
}

.message__tooltip {
    color: $dark-white;
    position: absolute;
    z-index: 20;
    visibility: hidden;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 180px;
    font-size: small;
    border: 1px solid $dark-white;
    transition: opacity 0.1s ease-in;
}

.message__tooltip.mine{
    top: 110%;
    right: 40%;
    background: $grey;
}

.message__tooltip.other{
    top: 110%;
    left: 40%;
    background: $grey;
}

.message:hover .message__tooltip{
    visibility: visible;
}

.message__nametag {
    padding-left: 15px;
    max-width: 50%;
    word-wrap: break-word;
    font-size: $s-size;
}

.mine {
    align-self: flex-end;
    background: $cool-blue;
}

.other {
    align-self: flex-start;
    background: $grey;
}

.other.last {
    border-bottom-left-radius: 5px;
}

.mine.last {
    border-bottom-right-radius: 5px;
}

.other.message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: -4px;
    left: -8px;
    height: 15px;
    width: 20px;
    background: $grey;
    border-bottom-right-radius: 15px;
}

.other.message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -4px;
    left: -10px;
    width: 10px;
    height: 20px;
    background: $dark-grey;
    border-bottom-right-radius: 10px;
  }

.mine.message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: -4px;
    right: -8px;
    height: 15px;
    width: 20px;
    background: linear-gradient(to bottom, $cool-blue 100%, #00D0EA 50%);
    border-bottom-left-radius: 15px;
}

.mine.message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -4px;
    right: -10px;
    width: 10px;
    height: 20px;
    background: $dark-grey;
    border-bottom-left-radius: 10px;
  }

.message__time {
    max-width: 50%;
    font-size: $s-size;
    background: none;
}

.message__calendar {
    position: sticky;
    top: 5px;
    margin: 5px auto;
    font-size: $s-size;
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid $dark-white;
    border-radius: 30px;
    width: fit-content;
    background: $dark-grey;
    z-index: 20;
}

.message_and_calendar {
    align-self: center;
    position: relative;
}

hr{
    border: 0;
    height: 1px;
    background: $dark-white;
    position: absolute;
    top: 6px;
    width: 100%;
}

.message-reaction__container.other, .message-reaction__container.mine {
    background: none;
    position: absolute;
    top: -30px;
    height: 35px;
    width: 50px;
}

.message-reaction__container.mine {
    left: -30px;
}

.message-reaction__container.other {
    right: -30px;
}

.has-reactions {
    margin-top: 2.5rem;
}

.message-reaction__container.other:before, .message-reaction__container.mine:before  {
    content: "";
    position: absolute;
    bottom: -18px;
    height: 10px;
    width: 10px;
    background: $dark-white;
    border-radius: 10px;
}

.message-reaction__container.mine:before {
    left: 15px;
}

.message-reaction__container.other:before {
    right: 15px;
}

.reaction-container {
    display: flex;
    position: relative;
}

.message-reaction.reaction-first.mine, 
.message-reaction.reaction-first.other,
.message-reaction.reaction-second.mine, 
.message-reaction.reaction-second.other {
    position: absolute;
    color: $light-grey;
    background: $dark-white;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid $light-grey;
    width: 36px;
    height: 36px;
    text-align: center;
}

.message-reaction.reaction-first.mine, .message-reaction.reaction-first.other {
    z-index: 10;
}

.message-reaction.reaction-first.mine.myReaction, 
.message-reaction.reaction-first.other.myReaction, 
.message-reaction.reaction-second.mine.myReaction, 
.message-reaction.reaction-second.other.myReaction{
    color: $cool-blue;
}

.message-reaction.reaction-first.mine {
    top: 0;
    right: 0;
}

.message-reaction.reaction-first.other {
    top: 0;
    left: 0;
}

.message-reaction.reaction-second.mine {
    left: -5px;
    top: 5px;
}

.message-reaction.reaction-second.other {
    right: -5px;
    top: 5px;
}
