.message-container {
    display: flex;
    flex-direction: column;
    // width: 100%;
    padding: 0 1.5rem;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin: 5px 0;
    max-width: 50%;
    word-wrap: break-word;
}

.message__nametag {
    padding-left: 15px;
    max-width: 50%;
    word-wrap: break-word;
    font-size: $s-size;
}

.mine {
    align-self: flex-end;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
}

.other {
    align-self: flex-start;
    background: $grey;
}

.message__time {
    max-width: 50%;
    font-size: $s-size;
    background: none;
}

.message__calendar {
    margin: auto;
    font-size: $s-size;
}
