.messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 14rem);
    max-height: calc(100vh - 14rem);
    // background: $dark-grey;
    // position: relative
}

.messages-container__inner {
    width: 100%;
    height: 100%;
    // filter: blur(3px);
    // padding: 0 1.5rem;
    position: relative;
}

.messages-container__message {
    overflow-y: auto;
    height: calc(100% - 20px);
}

.messages-typing__container {
  & > * {
      font-size: 1rem;
  }
}

.messages-typing {
    // height: 30px;
    padding: 0 1.5rem;
    position: sticky;
    bottom: 0;
}

.blur {
    // display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: $dark-grey;
    z-index: 200;
    // opacity: 0;
    opacity: 0.8;
    // animation: reactionContainerFadeIn 0.3s ease-in;
}

.message__reaction-container {
    position: absolute;
    top: -40px;
    z-index: 300;
    border: 1px solid white;
    color: $grey;
    width: 150px;
    padding: 5px;
    border-radius: 20px !important;
    filter: brightness(1.5);
    display: flex;
    justify-content: space-around;
    animation: reactionContainerFadeIn 0.3s ease-in;
    transform-origin: 100% 0 100%;
}

.message__reaction-container > span{
    display: block;
    cursor: pointer;
    transition: 0.5s;
    animation: reactionContainerFadeIn 0.6s ease-in;
}

@keyframes reactionContainerFadeIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes reactionContainerFadeOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}


.message__reaction-container > span:hover{
    color: lighten($color: $grey, $amount: 10%);
    transform: scale(1.1);
}

.message__reaction-container.mine {
    right: 0;
    background: $dark-white;
}

.message__reaction-container.other{
    left: 0;
    background: $dark-white;
}

// .show-popup {
    // display: block;
    // filter: brightness(1.5);
// }

// .blurred {
//     display: block;
//     opacity: 0.8;
// }

.no-blurred > .message-reaction__container{
    z-index: inherit;
    filter: brightness(0.35);
}

.no-blurred {
    z-index: 300;
    filter: brightness(1.2);
}


.no-blurred::after{
    filter: brightness(0.65);
}