.messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 14rem);
    max-height: calc(100vh - 14rem);
    // background: $dark-grey;
    // position: relative
}

.messages-container__inner {
    width: 100%;
    height: 100%;
    // filter: blur(3px);
    // padding: 0 1.5rem;
    position: relative;
}

.messages-container__message {
    overflow-y: auto;
    height: calc(100% - 20px);
}

.messages-typing__container {
  & > * {
      font-size: 1rem;
  }
}

.messages-typing {
    // height: 30px;
    padding: 0 1.5rem;
    position: sticky;
    bottom: 0;
}

// .blurred > .message_and_calendar > .message-container > *:not(.no-blurred) {
//     filter: blur(3px);
// }

.blur {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: $dark-grey;
    z-index: 200;
    opacity: 0.8;
}

.blurred {
    display: block;
}

.no-blurred {
    position: relative;
    z-index: 300;
    filter: brightness(1.5);
}

.no-blurred::after{
    filter: brightness(0.65);
}