.recipient__modal {
    // display: none;
    visibility: hidden;
    padding: 10px;
    position: absolute;
    // bottom: -30px;
    // left: 1rem;
    // top: 8rem;
    z-index: 300;
    border: 1px solid $dark-white;
    width: 250px;
    height: 250px;
    // transition: 0.3s;
    transform-origin: 0 0 0;
    border-radius: 10px;
    border-top-left-radius: 0;
    background: $light-grey;
}

.recipient__modal-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid $dark-white;

    > h1 {
        margin: 0;
        font-size: large;
        word-wrap: break-word;
        width: 150px;
    }
    > .image > img {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        padding: 0 2px;
    }
}

.recipient__modal-information {
    text-align: center;
    font-size: 80%;
    border-bottom: 1px solid $dark-white;
    margin-bottom: 5px;
}

.recipient__modal-icons {
    display: flex;
    justify-content: space-around;

    > .message__icon-container, .video__icon-container {
        text-align: center;
        width: 80px;

        > .message__icon-icon {
            border-radius: 50px;
            background: $grey;
            width: 40px;
            padding: 5px;
            margin: auto;
            cursor: pointer;
            color: $cool-blue;;
        }
        > .message__icon-name{
            font-size: 70%;
        }
    }

}

.modal-active {
    visibility: visible;
}