.recipient {
    position: relative;
    background: $grey;
    // min-height: 10rem;
    // height: 10rem;
    border-bottom: 1px solid $dark-white;
    // overflow-y: scroll;
    // max-height: 14rem;
    
    p{
        margin: 0;
    }
}

.recipient__errors-list {
    padding: 0 2rem;
    height: 4rem;
    color: $cool-red;
    line-height: 4rem;
    word-break: break-all;
    overflow-y: scroll;
}

.recipient__email-list {
    display:flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    font-size: 2rem;   
    min-height: 5.9rem;
    max-height: 12rem; 
    overflow-y: scroll;

    > div {
        height: fit-content;
    }
    
}

.recipient__email-input{
    display: block;
    flex-grow: 1;
    background: $grey;
    color: $dark-white;
    border: 0;
    outline: none;
    height: 28px;
}

.recipient__email {
    // position: relative;
    display: flex;
    padding: 0 0.5rem;
    border-radius: 5px;
    word-break: break-all;
    transition: background 0.1s ease-in;
    &:hover,  &.active-email{
        background: rgb(111, 159, 182);
        .recipient__dropdown-icon{
            color: $dark-white;
        }
    }
}

.recipient__dropdown-icon {
    color: $grey;
    padding: 0 3px;
    cursor: pointer;
}
