.recipient {
    background: $grey;
    height: 6rem;
    // min-width: 40rem;
    min-height: 10rem;
    border-bottom: 1px solid $dark-white;
    // padding-top: 5rem;
    // overflow-y: auto;
    p{
        margin: 0;
        padding-right: 1rem;
    }
}

.recipient__errors-list {
    padding: 0 2rem;
    height: 4rem;
    color: red;
}

.recipient__email-list {
    display:flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    font-size: 2rem;   
    max-height: 6rem; 
    overflow-y: scroll;
}

.recipient__email-input{
    display: block;
    flex-grow: 1;
    background: $grey;
    color: $dark-white;
    border: 0;
    outline: none;
}

.recipient__email {
    display: flex;
    padding: 0 0.5rem;
    border-radius: 5px;
    &:hover{
        background: rgb(111, 159, 182);
        .recipient__dropdown-icon{
            color: $dark-white;
        }
    }
}

.recipient__dropdown-icon {
    color: $grey;
    padding: 0 3px;
}