.video-modal__container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // min-width: 600px;
    z-index: 5000;
    background-color: rgba($color: $light-grey, $alpha: 0.9);
    // visibility: hidden;
}

// .open {
//     visibility: visible;
// }

.video-modal__top-bar {
    display: flex;
    justify-content: center;
    position: relative;
    height: 150px;
    border-bottom: 2px solid $dark-grey;
    > .close {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 5px;
        border-radius: 5px;
        color: $dark-white;
    }

    > .close:hover{
        cursor: pointer;
        background: $grey;
        transition: 0.3s;
    }
}

.video-modal__my-video-container {
    display: flex;
    align-items: center;
    padding: 5px;
    > .video {
        height: 105px;
        width: 140px;

        > video{
            display: block;
            width: 100%;
            height: 100%;
        }
        
        > .name {
            font-size: 40%;
        }
    }
}

.video-modal__main-bar {
    height: calc(100% - (150px + 50px));
    border-bottom: 2px solid $dark-grey;
    display: flex;
    justify-content: center;
    align-items: center;

    > video{
        display: block;
        width: 300px;
        height: 200px;
    }

    // > .video {
    //     height: 80%;
    //     width: 50%;
    // }
}

.video {
    position: relative;
    border: 2px solid $dark-grey;
    

    > .name {
        position: absolute;
        bottom: 0;
        left: 0;
        color: $dark-white;
        padding: 5px 10px;
        background: $grey;
    }
}

.video-modal__bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    > .leave {
        padding: 5px 10px;
        border: 1px solid red;
        color: $dark-white;
        border-radius: 5px;
        background: $cool-red;
       
    }

    > .leave:hover {
        cursor: pointer;
        background: lighten($color: $cool-red, $amount: 20%);
        transition: 0.3s
    }
}

.test {
    position: absolute;
    top: 0;
    left: 0;
}